<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-12">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font/css/font-awesome.min.css">


    <title>Document</title>
</head>

<body>
    <div class="container checkout">
<div class="col-md-6 col-md-offset-3">
      <h1 > <i class="fa fa-moey"> <u>Check Out  </i> </u></h1> <span class="badge"> for room {{room.room_number}}, {{room.class}} room </span>

        <h4> Total: ${{T_Price}}.00</h4>
        
</div>
       {{#if error}}
        <div class="col-md-3 col-md-offset-6 alert alert-danger">
        {{error}}
        </div>
         
{{/if}}
        <form class="col-md-6 col-md-offset-3"  id="checkout" action="/hotelluxuz/hotel/rooms/stripe_checkout/{{room._id}}" method="Post">

            <div class="col-md-12 input">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="your name" class="form-control" required>
            </div>

            <div class="col-md-12 input">
                <label for="name">Address</label>
                <input type="text" name="address" id="address" placeholder="your address" class="form-control" required>
            </div>

            

            <div  class="input">
                <label class="col-md-12" for="name">Phone Number</label>
                <div class="col-md-2">
                <input type="text" name="phone1"  placeholder="+44" class="form-control" required>
            </div>
               <div class="col-md-4">
                <input type="text" name="phone2"  placeholder="5432" class="form-control" required>
            </div>

               <div class="col-md-4">
                <input type="text" name="phone3"  placeholder="323" class="form-control" required>
            </div>
            </div>


            <div class="col-md-6 input">
                <label for="name">Country</label>
                <input type="text" name="country"  placeholder="your country" class="form-control" required>
            </div>

            <div class="col-md-12 input">
                
            </div>
<hr>
            <div class="col-md-3 input">
                <label for="name">Stay Period</label>
                <input type="text" name="period"  value="{{session.period}} Days"  class="form-control" disabled>
            </div>

            <div class="col-md-3 input">
                <label for="name">Check In</label>
                <input type="text" name="check_in"  value="{{session.Check_in_Time}}" class="form-control" disabled>
            </div>

            <div class="col-md-3 input">
                <label for="name">Check Out:</label>
                <input type="text" name="check_out"  value="{{session.Check_out_Time}}" class="form-control" disabled>
            </div>

            

            <br>
            <hr>
            <div class="col-md-12">
            
                   {{#if user}}
             <div class="col-md-4 stripe">

                <button type="submit" class="btn btn-primary"  id="stripe_btn" >PAY WITH CARD </button>
                                
            </div>
        {{else}}
          <h4> You must be logged in to pay <a href="/hotelluxuz/users/login" class="btn btn-success">Login</a></h4>
        {{/if}}

            

            

            <div class="col-md-12">
                <img class="img-responsive" src="/images/paypal.jpg" alt="">
            </div>

            </div>

 

 
 </script>
 <script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_BaS7sO9TqkPmmPjyhOPKhHvQ"
  data-amount={{T_Price}}00
  data-name="LUXUZ HOTEL BOOKING"
  data-description="{{room.class}} Room"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto">
</script> 

        </form>
                
        
    </div>
    <div class="container">
              <a href="/hotelluxuz/hotel/rooms/room/{{room._id}}" class="btn btn-primary pull-right "><i class="fa fa-caret-left"> One step Back</i></a>
                
                <a href="/hotelluxuz/hotel/rooms" class="btn btn-success  ">  <i class="fa fa-home">  Back to Rooms</i></i></a>

</div>


<script src="/js/main.js"></script>

</body>

</html>